.first_block {
  grid-column: 1 / span 12;
  position: relative;
}
.main_slider_bg {
  background: none;
  width: 100%;
}
.banner {
  height: 300px;
  display: flex;
  &_slider {
    flex-grow: 1;
    position: relative;
    display: flex;
    align-items: center;
    & img {
      width: 100%;
    }
    & li {
      display: none;
    }
    & .visible {
      display: inline-block;
    }
  }
}
#prevPic,
#nextPic {
  color: black;
  border: 0;
  background: none;
  outline: none;
  cursor: pointer;
}
#nextPic {
  order: 1;
}
#prevPic:hover,
#nextPic:hover {
  transform: scale(1.2);
  transition: 0.2s;
}