.footer {
    grid-column: 2 / 12;
    padding-top: 50px;
    border-top: 1px solid $fontColor;
}
.page_footer {
    display: flex;
    justify-content: space-around;
}
.nav_main {
    margin: 50px 0 50px 0;
    ul {
        display: flex;
        justify-content: center;
        font-size: 16px;
        p {
            margin: 0 30px 0 30px;
        }
    }
}
.nav_open, .nav_about, .nav_social {
    width: 230px;
    h3 {
        font-weight: bold;
        font-size: 30px;
    }
    li {
        font-size: 16px;
    }
}