.header {
    grid-column: 1 / span 12;
    margin-top: 32px;
    height: 200px;
}
a{
    text-decoration: none;
    color: $fontColor;
}
.header_container {
    padding: 0 100px 0 100px;
}
.fixed_block {
    width: 100vw;
    display: flex;
    position: fixed;
    background-color: black;
    justify-content: space-around;
    color: white;
    align-items: center;
    height: 32px;
    font-weight: bold;

    div {
        display: flex;
        align-items: center;
        button {
            background-color: $accentColor;
            border: none;
            border-radius: 5px;
            margin-left: 10px;
        }
    }
}
.enter_header {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    ul {
        display: flex;
        p {
            margin: 0 30px 0 30px;
            font-size: 16px;
        }
        li {
            font-size: 16px;
        }
    }
}
.first {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0 20px 0;
    img {
        width: 100px;
    }
}
.bucket {
    display: flex;
    input {
        border-radius: 20px;
        width: 200px;
        border: 1px solid $fontColor;
        padding: 10px;
        margin-right: 20px;
    }
    img {
        width: 30px;
        background-color: $secondaryColor;
    }
    button {
        background: none;
        border: none;
    }
}
.wishList {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    button {
        background: none;
        border: none;
        font-size: 16px;
    }
}
.second {
    margin: 20px 0 20px 0;
    ul {
        display: flex;
        justify-content: flex-end;
        li {
            font-size: 16px;
            color: $fontColor;
            padding: 0 10px 0 10px;
        }
    }
}
.page_nav_list {
    display: flex;
    justify-content: space-between;
    margin: 10px 0 10px 0;
    text-transform: uppercase;
    font-size: 18px;
    color: $fontColor;
    padding: 0 40px 0 40px;
}
.page_nav {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}