.second_block {
  display: flex;
  grid-column: 5 / 9;
  flex-direction: column;
  text-align: center;
  margin-bottom: 50px;
  h2 {
    margin-top: 50px;
  }
  h1 {
    color: $accentColor;
    margin-bottom: 50px;
  }
}
.second_block {
  & p:nth-child(5) {
    margin: 20px 0;
  }
}
.cards {
  display: flex;
  justify-content: space-around;
  img {
    width: 208px;
    height: 200px;
  }
}
.first_card,
.second_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 0px 15px lightgrey;
  width: 350px;
  padding: 40px 30px;
  background-color: white;
  border-radius: 20px;
}
.content {
  width: 100%;
  text-align: left;
  p {
    margin: 10px 0 10px 0;
    span {
      text-decoration: line-through;
    }
  }
  & p:last-child {
    color: $accentColor;
  }
  .accent {
    font-size: 36px;
    color: $accentColor;
    font-weight: bold;
    text-decoration: none;
  }
  h3 {
    margin: 20px 0 20px 0;
    border-bottom: 1px solid $fontColor;
  }
}
.buy_botton {
  background-color: $secondaryColor;
  padding: 10px 100px;
  color: white;
  font-size: 30px;
  margin-top: 40px;
}
.buy_botton:hover {
  background-color: darken($color: $secondaryColor, $amount: 10%);
}
.star {
  display: flex;
  text-align: left;
  justify-content: space-around;
  ul {
    width: 400px;
  }
  & li:nth-child(3),
  li:nth-child(4),
  li:nth-child(5) {
    margin-left: 20px;
    list-style: circle;
  }
}